/* 레이아웃 */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body {
	width: 100%;
	margin: 0;
}

h2 {
	margin-top: 0;
}

a { text-decoration: none; }

.page {
	width: calc(100% - 60px);
	padding: 30px;
}

.page:nth-child(2n) {
	background-color: #f0f0f0;
} 
/* 레이아웃 끝 */

/* 네비게이션 바 */
#nav-bar {
	width: calc(100% - 40px);
	padding-right: 20px;
	padding-left: 20px;
	height: 64px;
	position: fixed;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-title {
	margin-right: auto;
	font-weight: bold;
	font-size: 20px;
}

.nav-category {
	color: white;
	text-decoration: none;
	margin: 10px;
	cursor: pointer;
}

.nav-category:hover {
	color: lightgray;
}

.down-nav {
	background-color: white!important;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .07);
}

.down-nav > * {
	color: black;
}
/* 네비게이션 바 끝 */

/* 타이틀 */
#title {
	height: 100vh;
	padding-bottom: 0!important;
	background-image: url("./title.jpg");
	background-size: cover;
	background-color: #393939;
  	background-blend-mode: overlay;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#title > h1 {
	font-family: 'NanumSquare', sans-serif;
	font-size: 48px;
	color: white;
}

.logo {
	height:200px;
	opacity: 0.7;
	margin: 20px;
	
}

.kweb-explanation {
	font-family: 'Nanum Gothic', sans-serif;
	text-align: center;
	margin-top: 50px;
	color: #f0f0f0;
	line-height: 1.5em;
}
/* 소개 끝 */

/* Curriculum */
.curriculum-img {
	width: 80%;
	margin-left: 10%;
}

.curriculum-table {
	width: 80%;
	margin-left: 10%;
	border-collapse: collapse;
}

.curriculum-table th,td {
	border: solid 1px black;
	padding: 5px;
}

/* 네트워킹 */
.card-container {
	display: flex;
	justify-content: space-between;
}

.card {
	width: calc(100%/3 - 20px);
}

.card > img {
	width: 100%;
}

.card > div {
	text-align: center;
}
/* 네트워킹 끝 */

/* 방명록 */
.guest-memo {
	width: calc(100% - 40px);
	word-break:break-all;
	word-wrap:break-word;
	padding: 20px;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 1.5;
}

.memo-date {
	font-size: 14px;
	color: darkgray;
}
/* 방명록 끝 */